/**
 * @file
 * Type definitions for float types.
 */

#ifndef GHOTI_IO_GCU_FLOAT_H
#define GHOTI_IO_GCU_FLOAT_H

#include <ghoti.io/cutil/macros.h>

#ifdef __cplusplus
extern "C" {
#endif

/// @cond HIDDEN_SYMBOLS
#define GCU_float64_t FLOAT64
#define GCU_float32_t FLOAT32
/// @endcond

#ifdef __cplusplus
}
#endif

#endif // GHOTI_IO_GCU_FLOAT_H

